@model IEnumerable<MuhktarWebApp.Models.Classes.Order>
@using MuhktarWebApp.Models.Classes;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashBack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.End)
                </td>
                <td>
                    @if (item.State == State.Pending)
                    {
                        <form asp-controller="Orders" asp-action="Confirm" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit">Confirmt</button>
                        </form>
                    }
                    else if (item.State == State.Awaiting)
                    {

                        <form asp-controller="Orders" asp-action="Cancel" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit">Cancel</button>
                        </form>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>
